$primarycolor: #c7bed3;
$secondarycolor: darkgray;
$iconcolor: #4f3e2e;

body {
  background-color: gray;
}



.title {
  font-family: 'Underdog', cursive;
  font-size: 75px;
  width: 100%;
  text-align: center;
  height: 80px;
}

.footerImage {
margin-left: 35%;
height: 300px;
border-radius: 10px;
display: flex;
}

.controller{
margin-left: 30%;

}

.fa-paw {
  color: black;
  position: relative;
  font-size: 12px;
}

.pawbar {
  display: inline;
  margin-top: 200px;
}


button {
  font-family: 'Underdog', cursive;
  font-color: white;
  font-size: 25px;
border-radius: 15px;
}

.col-1-8 {
	width: 12.5%;
  height: 100px;
  text-align: center;
  vertical-align: center;
  position: relative;
}

.rankandfileLetters {
  margin-left: 20%;
  margin-right: 19%;
  position: absolute;
  margin-bottom: 20px;
}

.letters{
  padding-left: 55px;
  padding-right: 65px;
  font-size: 24px;
  margin-left: 5px;
}

.rankandfileNumbers {
  height: 800px;
  width: 50px;
  margin-left: 18%;
  margin-top: 70px;
  z-index: -100;
  position: absolute;
}


.numbers{
  display: block;
  height: 80px;
  font-size: 24px;
  padding-top: 15px;
}

.rankandfileNumbersRight {
  height: 800px;
  width: 50px;
  margin-left: 81%;
  z-index: -100;
  margin-top: -750px;
}


.numbersright{
  display: block;
  height: 80px;
  font-size: 24px;
  margin-left: 25px;
  padding-top: 15px;
  z-index: 1000;
}


.p {
  background-color: $primarycolor;
}

.s {
  background-color: $secondarycolor;
}

.content {
  text-align: center;
  padding: 10px;
  margin-left: -180%;
  z-index: -100;
}

.whiteicon {
  color: $iconcolor;
}

i {
  position: absolute;
  z-index: 100;
}
























// Simple Grid
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
  margin-top: 10px;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 40px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */



.push-1-8 {
	margin-left: 12.5%;
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	}

	.mobile-col-1-8 {
		width: 12.5%;
	}


	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
